user {{ nginx_user }};
worker_processes  1;
error_log  stderr error;
events {
    worker_connections  1024;
}
http {
    include       mime.types;
    default_type  application/octet-stream;
    sendfile        on;
    keepalive_timeout  65;
    include /etc/nginx/vhosts/*;
}